<form method="post" action="{{ path('share_delete', {'id': share.id}) }}" onsubmit="return confirm('Are you sure you want to stop sharing with this person?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ share.id) }}">
    <button class="btn">Stop sharing</button>
</form>
